/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #E1E1E1;
    position: fixed;
    z-index: 100;
    bottom: 72px;
    left: 16px;
    right: 16px;
    padding: 16px;
    font-size: 13px;
    line-height: 1.56em;
    transform: translate(0%, 150%);
    transition: .4s ease-in-out;
}

.cookiealert .title {
    font-size: 15px;
    line-height: 1.7em;
  }
  

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    vertical-align: baseline;
}
