<template>
    
    <div class="mesgs" id = "mesgs">
        <div class="headind_srch">
            <div class="recent_heading">
            </div>
            <div class="srch_bar">
                <div class="stylish-input-group">
                    <button style="float:right;display: inline-block;" class="nk-open-message nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-info"  data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                
                    <div class="dropdown-menu">
                        <button class="dropdown-item" @click="deleteThis()">Borralo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="msg_history">
            <message-conversation-component 
                v-for="message in messages"
                :key="message.id"
                :written-by-me="message.written_by_me"
                :message="message"
                >
            </message-conversation-component>
        </div>

        <div class="type_msg">
            <form @submit.prevent="postMessage">
                <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Escribe un mensaje..." v-model="newMessage" required/>
                    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                newMessage: '',
            };
        },
        mounted() {
            this.$store.dispatch('scrollToBottom');
        },

        methods: {
            postMessage() {
                this.$store.dispatch('postMessage', this.newMessage);
                this.newMessage = '';
            },

            deleteThis() {
                this.$store.dispatch('allSMS');
                this.$store.dispatch('getConversations');
                $('.msg_history').html('');
                $('.mesgs').hide();          
            },

        },

        computed: {
            messages() {
                return this.$store.state.messages;
            }
        },
        updated(){
            this.$store.dispatch('scrollToBottom');
        }
    }
</script>
