<template>
    <li class="list-group-item list-group-item-action "  v-bind:class="{active: active}">
        <div class="row">
            <div class="col-lg-2">
                <img src="https://www.cobdoglaps.sa.edu.au/wp-content/uploads/2017/11/placeholder-profile-sq.jpg" height="35" width="35" class="circle" />
            </div>
            <div class="col-lg-7">
                <status-component :online="conversation.online" />   {{ conversation.contact_name }} <br>
                <small>
                    {{ limitedChar }}
                </small>
            </div>
            <div class="col-lg-3">
                <small>
                    <small>
                        <small>
                            {{ lastTime }}
                        </small>
                    </small>
                </small>
                
            </div>
        </div>
        
    </li>
</template>

<script>
    export default {
        props: {
            conversation: Object,
            active: Boolean
        },
        computed: {
            lastTime() {
                return moment(this.conversation.last_time, "YYYY/MM/DD hh:mm")
                        .locale('es').fromNow();
            },
            limitedChar() {
                if(this.conversation.last_message){
                    if  ( this.conversation.last_message.length > 25 ) {
                        return this.conversation.last_message.substring(0,25) + '...'
                    }else{
                        return this.conversation.last_message
                    }
                }
            },
        }
        
    }
</script>
