<template>
    <ul class="list-group" style="width:100%">
        <contact-component 
            v-for ="conversation in conversations"
            :key="conversation.id"
            :conversation="conversation"
            :active = "isSelected(conversation)"
            @click.native="selectConversation(conversation)">                    
        </contact-component>
    </ul>
</template>

<script>

    export default {

        methods: {
            /*
            getConversation(){
                axios.get('/account/api/conversations')
                .then((response) => {
                   this.conversations = response.data;
                });
            },
            */
            selectConversation(conversation){
                $('.mesgs').show();
                this.$store.dispatch('getMessages', conversation);
            },

            isSelected(conversation) {
                if (this.selectedConversation)
                    return this.selectedConversation.id === conversation.id;
                return false;
            }

        },
        computed: {
            selectedConversation() {
                return this.$store.state.selectedConversation;
            },
            
            conversations() {
                return this.$store.state.conversations;
            }
        }
    }

</script>