<template>
	<div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recientes</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <button style="float:right;display: inline-block;" class="nk-open-message nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-info"><i class="fa fa-user-plus" aria-hidden="true"></i> <i class="fa fa-commenting" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <contact-list-component/>
                </div>

            </div>
                
            <active-conversation-component v-if="selectedConversation" :contact-id="selectedConversation.alias_contact_id" />
        </div>
        <new-conversation-component/>
    </div>
    
</template>

<style> 

    .green {
        height: 10px;
        width: 10px;
        background-color: #28a745;
        border-radius: 50%;
        display: inline-block;
    }
    .gray {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
    .write_msg{
        background-color : #d1d1d1; 
    }

    .msg_send_btn {
        background: #bd1919 none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 3px;
        top: 0px;
        width: 33px;
    }

    .input_msg_write input {
    background: #fff none repeat scroll 0 0;
    padding-left: 10px;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 33px;
    width: 100%;
    }

    .img_none{
        display: none;
        
    }
    .received_withd_msg { 
        width: 57%;
    }

    .mesgs {
    float: left;
    padding: 0px 0 0px 0;
    width: 70%;
    }
    .messaging { padding: 0 0 50px 0;}

    /* width */
    .msg_history::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .msg_history::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    .msg_history::-webkit-scrollbar-thumb {
        background: #929292; 
        border-radius: 10px;
    }

    /* Handle on hover */
    .msg_history::-webkit-scrollbar-thumb:hover {
        background: #c1c1c1; 
    }

    .msg_history {

        height: 516px;
        width:100%;
        overflow-y: auto;
        padding: 0px 10px 50px 10px;

    }
    
    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
    .sent_msg {
        float: right;
        width: 60%;
    }
    .received_msg {
    float: left;
    width: 60%;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_withd_msg p {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
        margin-top: 3px !important;
        margin-bottom: 3px !important;
    }

    .active{
        background: rgb(209, 209, 209) !important;
        border-color: rgb(223, 223, 223) !important;
    }

    .sent_msg p {
        background: #fff none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        color:#646464;
        padding: 8px 10px 8px 12px;
        width:100%;
    }

    .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    }
    .recent_heading {float: left; width:40%;}
    .recent_heading h4 {
        color: #dd163b;
        font-size: 18px;
        margin: auto;
    }
</style>

<script>
	export default {
		props: {
			user: Object
		},
        mounted() {
            this.$store.dispatch('getConversations');

            this.$store.commit('setUser', this.user);

            Echo.channel(`users.${this.user.user_name}`)
            .listen('MessageSent', ({message}) => {
                this.$store.dispatch('getConversations');
                if(this.$store.state.selectedConversation){
                    if(this.$store.state.selectedConversation.alias_contact_id == message.alias_from_id){
                        this.$store.dispatch('getMessages', this.$store.state.selectedConversation);
                    }
                }
            });

            Echo.join('messenger')
                .here((users) => {
                    users.forEach(user => this.changeStatus(user, true))
                })
                .joining((user) => {
                    this.changeStatus(user, true)
                })
                .leaving((user) => {
                    this.changeStatus(user, false) 
                })
        },
        methods: {
            changeStatus(user, status) {
                
                const index = this.$store.state.conversations.findIndex(
                    conversation => conversation.alias_contact_id == user.id
                );
                if (index >= 0){
                    this.$set(this.$store.state.conversations[index], 'online', status)
                }
                
            }
        },
        computed: {
            selectedConversation() {
                return this.$store.state.selectedConversation;
            }
        },
        
    }
</script>