<template>

    <div class='media incoming_msg received_withd_msg'  v-bind:class="{ sent_msg: writtenByMe}">
        <img style="margin-right: 5px;" src="https://www.cobdoglaps.sa.edu.au/wp-content/uploads/2017/11/placeholder-profile-sq.jpg" v-bind:class="{ img_none: writtenByMe}" alt="" class="circle"  height="48" width="48" >
        
        <p>
            {{ message.content }} <br>

            <span class="float-right time_date"> 
                <button type="button" class="nk-btn nk-btn-xs nk-btn-rounded nk-btn-color-white"  data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" style="color: #7a7a7a"  aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" @click="selectMessage()">Delete</button>
                </div>  
                {{ lastTimeMsg }} 
                
                <i v-html="HTMLcontent"></i>
            </span> 
        </p>
        
    </div>
	
</template>

<script>
	export default{
        props: {
            image: String,
            writtenByMe: Boolean,
            message: Object,
            read: Number
        },
        data() {
            return {
                HTMLcontent: ''
            };
        },
        mounted() {
        },
        methods: {
            selectMessage(){
                this.$store.dispatch('delMessage', this.message);
            },
        },
        computed: {
            lastTimeMsg() {
                if(this.writtenByMe == true){
                    if(this.message.read == 1){
                        this.HTMLcontent = ' <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i> ';
                    }else{
                        this.HTMLcontent = ' <i class="fa fa-circle-o" aria-hidden="true"></i> ';
                    }
                }
                return moment(this.message.created_at, "YYYY/MM/DD hh:mm")
                    .locale('es').fromNow();
            },

        }
    }
</script>