<template>
<!-- START: Login Modal -->
<div class="nk-modal modal fade" id="modalNewMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Nuevo</span> Mensaje</h4>

                <div class="nk-gap-1"></div>
                <form class="nk-form text-white" @submit.prevent="postNewMessage" >
                    <div class="row vertical-gap">
                        <div class="col-md-12">
                          <div class="input-group nk-form nk-form-style-1">
                            <div class="input-group-prepend">
                              <div class="input-group-text">Para</div>
                            </div>
                            <input type="text" autocomplete="off" class="form-control nk-user-search" required placeholder="Type something">
                            <button class="nk-btn nk-btn-color-main-1 msg-reload">
                                <span class="fa fa-refresh"></span>
                            </button>
                          </div>
                          <ul class="list-group" id= "nk_user_list" style="position: absolute; z-index:5; width:90%"></ul>
                        </div>
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row ">
                        <div class="col-md-12 not_found_user">

                        </div>
                    </div>
                    <div class="row txt_message">
                        <div class="col-md-12">
                            <textarea style="width:100%" class="content-message" id="" cols="30" rows="5" autocomplete="off" v-model="newMessageContact" required placeholder="Escribe un mensaje..."></textarea>
                        </div>
                    </div>
                    <div class="nk-gap-2"></div>
                    <div class="row txt_message">
                        <div class="col-md-12">
                            <button class="nk-btn nk-btn-xs nk-btn-rounded nk-btn-color-white float-right" type="submit">Enviar <i class="fa fa-paper-plane-o "></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Login Modal -->
</template>


<script>
    export default {
        props: {

        },

        data() {
            return {
                newMessageContact: '',
                newContact: '',
            };
        },

        mounted() {
        },
        
        methods: {
            postNewMessage() {
                
                this.newContact = $('.nk-user-search').val();

                const params = {
                    name: this.newContact,
                    content: this.newMessageContact
                }
                axios.post('/account/api/conversation', params)
                .then((response) => {
                    if (response.data.success){
                        
                        this.newMessageContact = '';
                        $('.nk-user-vue').val('');
                        $('#modalNewMessage').modal('hide');
                        this.$store.dispatch('getConversationsNew');
                    }
                });
                
            },
        },

        watch: {

        },

        updated(){

        }
    }
    
</script>
