<template>
    <small>
        <span width="10" height="10" alt="Status"
		:title="online ? 'Conectado' : 'Desconectado'"
		:class="online ? 'green' : 'gray'" ></span>
    </small>
</template>

<script>
	export default {
        props: {
            online: Boolean
        }
    }
</script>