/* GENERAL */
body {
  background: #f4f7f6;
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}

.btn:focus {
  outline: 0;
}

/* END GENERAL */

.search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#search-bar-category {
  width: 250px;
}

#search-bar-text {
  width: calc(100% - 260px - 39px);
}

#search-bar-btn {
  width: 39px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #42AB9E;
}

#search-bar-btn:hover {
  background-color: #202121;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    padding: 6px 12px;
    height: 34px;
    border-radius: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -4px;
}

.select2 .select2-selection .select2-selection__arrow {
    height: 34px;
}

.select2-dropdown {
    border: 1px solid #d2d6de;
}

.select2-dropdown .select2-search__field, .select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    outline: none;
    /*border: 1px solid #3c8dbc;*/
}

.home-carousel {
  padding: 0;
}

.home-carousel ul {
  padding: 0;
  margin: 0;
}

.home-news {
  height: 400px;
}

/* HEADER */
header {
  text-align: center;
  border-bottom: 1px solid #E6EAEA;
  margin-bottom: 25px;
}

header .br-header-top-info {
  background: #020107;
  min-height: 35px;
  color: #fff;
  padding-top: 2px;
}

header .br-header-top-info a {
  color: #fff;
}

header .br-header-top-info #br-header-top-info-cart i {
  font-size: 23px;
  transform: translateY(3px);
}

header .br-header-top-info #br-header-top-info-user {
  padding-top: 5px;
}

header .br-header-logo {
  background: #26223B;
  min-height: 100px;
}

header .br-header-menu > .navbar.navbar-default {
  background: #f4f7f6;
}

header #br-menu-search-input {
  width: 0;
  right: -1px;
  opacity: 0;
  position: absolute;
  padding-top: 8px;
}

header .navbar.navbar-default {
  margin-bottom: 0;
  border-bottom: 0;
}

header .navbar-left {
  padding-left: 0;
}

header .logo {
  height: 40px;
  width: 100px;
  background-color: #42AB9E;
}
.nav-logo, .nav-login {
  float: left;
}
/* END HEADER */

/* START SLIDERS */
#br-main-carousel {
  height: 200px;
}

.carousel-container > .row, .home-image-carousel > div {
  height: 100%;
  position: relative;
}

.carousel-container .slides-navigation .prev, .home-image-carousel .slides-navigation .prev{
  margin-left: 10px;
  font-size: 40px;
}

.carousel-container .slides-navigation .next, .home-image-carousel .slides-navigation .next {
  margin-right: 10px;
  font-size: 40px;
}

.carousel-container .slides-navigation i, #br-main-carousel .slides-pagination {
  color: #000;
  opacity: .9;
  transition: opacity 500ms;
}

.carousel-container:hover .slides-navigation i, .carousel-container:hover .slides-pagination  {
  opacity: 1;
  transition: opacity 500ms;
}

.slides-navigation {
    top: 50%;
    transform: translateY(-50%);
    height: 55px;
}

/* END SLIDERS */

/* START INFORMATION AND IMAGE CAROUSEL  */
.home-products-info-col {
  height: 100%;
}

.home-products-info {
  background: #fff;
  position: relative;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  height: calc(100% + 100px);
}

.home-image-carousel {
  margin-top: 25px;
  height: 75px;
}
/* END INFORMATION AND IMAGE CAROUSEL */

h4.section-title {
  margin-top: 20px;
  text-align: center;
}

h4.section-title:after {
  border-bottom: 1px solid #dedede;
  content: " ";
  width: 50%;
  height: 1px;
  display: table;
  left: 50%;
  transform: translateY(15px) translateX(-50%);
  position: absolute;
}

div.section-view-all {
  height: 5px;
  text-align: center;
}

div.section-view-all > a {
  display: inline-block;
  background: #fff;
  transform: translateY(-5px);
  padding: 0 5px;
}

/* START HOME SECTION - BEST SELLERS / NEW PRODUCTS */

#home-products .home-products-sales, #home-products .home-products-new, #home-products .home-news  {
  margin-top: 25px;
  background: #fff;
  position: relative;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
}

#home-products .home-products-sales, #home-products .home-products-new {
  height: 400px;
}

#home-products .home-products-sales .table-responsive, #home-products .home-products-new .table-responsive {
  overflow-y: scroll;
  height: calc(100% - 39px - 45px);
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 11px;
}

#home-products .table-responsive tbody tr .table-options {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.42);
  left: 0;
}

#home-products .table-responsive tbody tr .table-options > div {
  width: 100%;
  height: 100%;
  position: relative;
}

#home-products .table-responsive tbody tr .table-options > div > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#home-products .table-responsive .table-options button {
  padding: 2px 8px;
}

#home-products .table-responsive .table-options button i {
  font-size: 10px;
}
/* END HOME SECTION - BEST SELLERS / NEW PRODUCTS */

/* FOOTER */
.main-footer {
  background: #0d0a1d;
  color: #fff;
  min-height: 100px;
  padding-top: 30px;
  margin-top: 25px;
}

.main-footer .br-footer-links {
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #232323;
}

.main-footer .br-footer-links-title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
}

.main-footer ul.br-footer-links-list li {
  margin-bottom: 16px;
}

.main-footer ul.br-footer-links-list li a {
  color: #a2a2a2;
}

.main-footer .br-footer-copyright {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #656565;
}

.main-footer .br-footer-copyright a {
  color: #337ab7;
}

.main-footer .br-footer-copyright > div:first-child {
  line-height: 50px;
}

.main-footer .br-footer-social-links a {
  font-size: 35px;
}
/* END FOOTER */


/* START MODALS */

.modal-content {
  border: 0;
}

.modal-body form {
  padding: 30px 20px 15px 20px;
}

/* END MODALS */


/**************
*** SEARCH  ***
***************/
#br-search-result-filters {
  padding-top: 34px;
}

#br-search-result-filters label {
  font-weight: normal;
  cursor: pointer;
}

#br-search-result-filters .title {
  padding-bottom: 5px;
  font-weight: bold;
}

#br-search-result-input {
  width: calc(100% - 200px - 5px);
}

#br-search-result-sort {
  width: 200px;
}

#br-search-result-tags {
  padding-top: 10px;
  padding-bottom: 10px;
}

#br-search-result-list {
  background-color: #fff;
  margin-top: 20px;
}

#br-search-result-list .br-result-as-list {

}

#br-search-result-list .br-result-as-list > li > .br-result-item-container {
  display: block;
  padding: 10px;
}

#br-search-result-list .br-result-as-list > li > .br-result-item-container  > * {
  float: left;
}

#br-search-result-list .br-result-as-list > li > .br-result-item-container > a > img{
  width: 100px;
  height: 100px;
}

#br-search-result-list .br-result-as-list > li > .br-result-item-container  > div{
  padding-left: 10px;
  width: calc(100% - 10px - 100px);
}

#br-search-result-list .br-result-as-list > li > .br-result-item-container .product-title > a {
  color: #3c3cde;
  font-size: 15px;
}

#br-search-result-list .br-result-as-table {

}

.pagination.pager > li > a {
  border-radius: 0;
}

.br-search-category {
  cursor: pointer;
}

.br-search-category > ul {
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}

.br-search-category.br-show-children > ul {
  display: block;
}

/**************
*** PRODUCT ***
***************/
#br-product-details {
  background-color: #fff;
  min-height: 200px;
  padding: 10px;
}

#br-product-details > div {
  float: left;

}

#br-product-details .product-image {
  width: 200px;
  height: 200px;
}

#br-product-details .product-image .product-image-img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

#br-product-filters, #br-product-items {
  margin-top: 25px;
  background-color: #fff;
  min-height: 100px;
  padding: 10px;
}

#br-product-details .product-information {
  margin-left: 10px;
}

#br-product-details .br-pi-title {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.br-thead-options {
  width: 1px;
}

.br-product-options {
  white-space: nowrap;
}

#br-product-items table > tbody.filtered > tr {
  display: none;
}

#br-product-items table > tbody.filtered > tr.filtered {
  display: table-row;
}

.br-btn-product-add {
  padding: 3px 5px;
}

/**************
*** INVENTORY *
***************/

#br-inventory-details, #br-inventory-images {
  margin-top: 25px;
  background-color: #fff;
  min-height: 200px;
  padding: 10px;
}

.br-id-title {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

#br-inventory-options {
  margin-top: 25px;
  background-color: #fff;
  padding: 10px;
}

#br-id-images-dropzone {
  width: 100%;
  min-height: 200px;
  transition: all 500ms;
}

#br-id-images-dropzone .dropzone-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-35%);
  display: inline-block;
  font-size: 30px;
  color: #5a5a5a;
  text-align: center;
}

#br-id-images-dropzone.hover {
  background: #696969;
  transition: all 500ms;
}

#br-id-images-dropzone.hover span.dropzone-message {
  color: #fff;
}

.file-uploader-preview {
  display: inline-block;
  width: calc(25% - 5px);
  float: left;
  padding: 10px;
  position: relative;
}

.file-uploader-preview img {
    width: 100%;
}

.file-uploader-remove {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  background: rgba(64, 64, 64, 0.36);
  padding: 0 5px;
  margin-top: 5px;
  cursor: pointer;
}

.br-dropzone-w-files .dropzone-message {
  display: none !important;
}

.has-error .select2-container--default .select2-selection--single{
  border-color: #a94442;
}

.select2-container *:focus {
    outline: none;
}

/**************
*** OFFER/LOGIN
***************/
.br-ol-title {
  margin-bottom: 20px;
}
.br-ol-message {
  font-size: 16px;
  line-height: 30px;
}

.br-ol-user-plus {
  font-size: 120px;
  text-align: center;
}

textarea {
  max-width: 100%;
}

.section-block {
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 200px;
  margin-bottom: 25px;
}

.section-height-auto {
  height: auto;
}

.section-block-content {
  overflow: auto;
  height: calc(100% - 49px - 20px);
  margin-top: 15px;
}

.account-title {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: bold;
}

/* CART */
#br-search-result-list.cart-items {
  background: transparent;
}

.cart-items > ul > li.cart-item {
  margin-bottom: 10px;
  background: #fff;
  position: relative;
}

.cart-total-price-container {
    font-size: 2rem;
    font-weight: 900;
}

.cart-delete-item {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cart-total-container {
  padding: 0 5px 0 5px;
}

.cart-total-container > div:nth-child(1) {
  width: 100px;
  height: 1px;
  float: left;
}

.cart-total-container > div:nth-child(2) {
  padding-left: 10px;
  width: calc(100% - 10px - 100px);
  float: left;
}

.cart-grand-total {
  background: #fff;
  padding: 40px 0 20px 0;
}

.cart-buttons {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
}

.cart-empty {
  font-size: 30px;
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cart-item-low-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 1s;
}

.cart-item-low-message > * {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  margin: 0;
  width: 80%;
}

.cart-item-low > .cart-item-low-message {
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms;
}

.br-register-completed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  text-align: center;
  opacity: 0;
}

.br-anim-register-completed {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.br-anim-register-form-completed {
  display: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.br-account-activated p {
  font-size: 20px;
  text-align: center;
}

/**************
*** CONTACT ***
***************/
.br-captcha {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: inline-block;
}

.br-big-message {
  font-size: 30px;
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
