.btn, .form-control, .list-group-item:last-child, .list-group-item:first-child{
	border-radius: 0;
}

.select2 .select2-selection {
	border-radius: 0;
	height: 34px;
	padding: 6px 1px;
}

.select2 .select2-selection .select2-selection__arrow {
	height: 34px;
}

.br-dataTable-Options {
	padding-bottom: 10px;
}

.dataTables_wrapper > .row:nth-child(2) {
	margin-left: 0;
	margin-right: 0;
}

.dataTables_wrapper > .row:nth-child(2) > div {
	padding-left: 0;
	padding-right: 0;
	overflow-x: auto;
}

.noty_bar {
	padding: 10px;
}

.noty_bar .noty_buttons {
	text-align: center;
	clear: both;
}

.noty_bar .noty_buttons:before  {
    display: table;
    content: " ";
}

.noty_bar .noty_buttons:after {
    display: table;
    content: " ";
	clear: both;
}

.profile-user-image {
	margin: 0 auto;
	width: 200px;
	padding: 3px;
	border: 3px solid #d2d6de;
	margin-bottom: 20px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* PROFILE PICTURES */
img.profile-user-image {
	height: 200px;
}

div.br-no-image {
	margin: 0 auto;
	width: 200px;
	padding: 3px;
	border: 3px solid #d2d6de;
	margin-bottom: 20px;
	height: 200px;
	background: lightgrey;
	position: relative;
	border-radius: 50%;
}

div.br-table-no-image {
	margin: 0 auto;
	width: 75px;
	padding: 3px;
	border: 3px solid #d2d6de;
	margin-bottom: 20px;
	height: 75px;
	background: lightgrey;
	position: relative;
}

div.br-no-image div.br-no-image-message, div.br-table-no-image div.br-no-image-message{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	transform: translateX(-50%) translateY(-50%);
	font-size: 16px;
	font-weight: bold;
	color: grey;
}

.br-table-file-cont, .br-table-file-btns {
	text-align: center;
}

#file-uploader-messages, #file-uploader-container {
	margin-top: 10px;
}

.file-uploader-preview {
	display: inline-block;
	width: calc(25% - 5px);
	float: left;
	padding: 10px;
	position: relative;
}

.file-uploader-preview img {
	width: 100%;
}

#dropzone:before, #dropzone:after, #file-uploader-container:before, #file-uploader-container:after {
	content: " ";
	display: table;
	clear: both;
}

#dropzone {
	width: 100%;
	min-height: 200px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-color: #fff;
	cursor: pointer;
	position: relative;
}

#dropzone.hover, #dropzone.without-images:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-color: grey;
}

#dropzone .dropzone-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: inline-block;
	font-size: 30px;
	color: #5a5a5a;
}

#dropzone .fileinput-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.file-uploader-remove {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 25px;
	background: rgba(64, 64, 64, 0.36);
	padding: 0 5px;
	margin-top: 5px;
	cursor: pointer;
}

.file-uploader-remove:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #fff;
}

.table-image {
	display: inline-block;
	max-width: 75px;
}

.br-html-editor-container {
	position: relative;
	transition: all 1s;
}

.br-html-editor-full {
	position: fixed;
	left: 0;
	top: 50px;
	background: #fff;
	transition: all 1s;
	width: 100%;
	height: calc(100% - 50px);
	z-index: 810;
}

.br-html-editor-full > div {
	width: 100% !important;
}

.br-html-editor-full > div:nth-child(2) {
	height: calc(100% - 50px);
}

.br-table-vertical-middle > tbody > tr > td {
     vertical-align: middle;
}

.br-table-image {
	max-width: 100px;
}
