@media (min-width: 992px) {

}

@media (max-width: 991px) {
  .cart-buttons {
    margin-left: 0;
    margin-right: 0;
  }

  .cart-buttons button:first-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  header .container {
    text-align: center;
  }

  header .container .navbar-header {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  header .container #br-menu-collapse {
    display: inline-block !important;
    vertical-align: top;
  }

  header .nav.navbar-nav {
    position: relative;
  }

  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }

  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }

  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
  }
}

@media (max-width: 767px) {
  .home-products-info {
    margin-top: 25px;
  }

  #home-image-carousel > div > div > div:first-child > div {
    margin-top: 150px;
  }
}
