.menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-menu{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.menu .enlaces{
    display: inline-block;
    text-align: right;
}

.menu .enlaces a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}

.menu .enlaces i {
    margin-right: 5px;
}

/* Efectos del Menu */

.headroom {
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%)
}

.headroom--unpinned {
    transform: translateY(-100%)
}

/* MediaQueries */
@media screen and (max-width: 700px){
    header .menu{
        flex-direction: column;
    }

    header .menu .log {
        display: flex;
        flex-direction: row;
 
        width: 100%;
        padding: 1em;
    }

 

    header .menu .log .btn-menu {
        display: inline-block;
    }

    header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}