/* PLACE YOU CUSTOM STYLES IN THIS FILE */

.text-new{
    color: #00FF0E;
}
.text-asmed{
    color: #B6FF00;
}
.text-med{
    color: #FFFB00;
}
.text-asold{
    color: #FF6400;
}
.text-old{
    color: #FF0000;
}

a.image_appear{ 
    position: relative;
}

a.image_appear:hover > .show_me{ 
    display: block !important;
    position: absolute;
    background-repeat: no-repeat;
    left: 100%;
    top: -175px;
    z-index: 99;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.chose-image-small, .chose-image-list{
    width: 20px !important;
    height: 18px !important;
}

.txt_message {
    display:none;
}
.br-register-completed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    text-align: center;
    opacity: 0;
  }

.br-anim-register-completed {
    opacity: 1;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.br-anim-register-form-completed {
    opacity: 0;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

a.ng-binding{
    font-size: 18px;
    padding: 8px;
}

.pagination-first.ng-scope.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .2;
    
}
.pagination-last.ng-scope.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .2;
}

.pagination-page.ng-scope.active{
    background: transparent !important;
    min-width: 42px !important;
    height: 42px !important;
    padding: 3px;
    line-height: 28px !important;
    color: #dd163b !important;
    border: 4px solid !important;
    border-radius: 21px !important;
}

.nk-pagination > .pagination > li.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .2;
}

.nk-pagination > .pagination > li {
    padding-left: 10px;
    padding-right: 10px;
}

.nk-pagination > .pagination > li.active{
    background: transparent !important;
    min-width: 42px !important;
    height: 42px !important;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    line-height: 28px !important;
    color: #dd163b !important;
    border: 4px solid !important;
    border-radius: 21px !important;
}


/*
#br-product-items table > tbody.filtered > tr {
    display: none;
}

#br-product-items table > tbody.filtered > tr.filtered {
    display: table-row;
}
*/
.filtered   {
    display: none;
}

#br-inventory-images {
    margin-top: 25px;
    background-color: #fff;
    min-height: 200px;
    padding: 10px;
  }

#br-id-images-dropzone {
    width: 100%;
    min-height: 200px;
    transition: all 500ms;
}

#br-id-images-dropzone .dropzone-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
    display: inline-block;
    font-size: 30px;
    color: #5a5a5a;
    text-align: center;
}

#br-id-images-dropzone.hover {
    background: #696969;
    transition: all 500ms;
}

#br-id-images-dropzone.hover span.dropzone-message {
    color: #fff;
}

.file-uploader-preview {
    display: inline-block;
    width: calc(25% - 5px);
    float: left;
    padding: 10px;
    position: relative;
}
  
.file-uploader-preview img {
    width: 100%;
}
  
.file-uploader-remove {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    background: rgba(64, 64, 64, 0.36);
    padding: 0 5px;
    margin-top: 5px;
    cursor: pointer;
}

.br-dropzone-w-files .dropzone-message {
    display: none !important;
}

.has-error .select2-container--default .select2-selection--single{
    border-color: #a94442;
}
  
.select2-container *:focus {
    outline: none;
}

/* Dropdown news */
.nk-news-toggle {
    cursor: pointer;
}

.nk-news-dropdown {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 315px;
    max-height: 500px;
    overflow: auto;
    margin-top: 11px;
    text-align: left;
    visibility: hidden;
    background-color: #232930;
    border: 1px solid #293139;
    border-bottom: 4px solid #dd163b;
    opacity: 0;
    -webkit-transition: .3s opacity, .3s visibility;
    -o-transition: .3s opacity, .3s visibility;
    transition: .3s opacity, .3s visibility;
    z-index: 1010;
}

.nk-news-toggle:hover + .nk-news-dropdown, .nk-news-dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.nk-news-dropdown::before {
    content: "";
    position: absolute;
    display: block;
    top: -18px;
    right: 0;
    left: 0;
    height: 18px;
}

.nk-news-dropdown .nk-post-title {
    font-size: 1rem;
}

.nk-news-dropdown .nk-news-remove-item {
    float: right;
    padding: 5px;
    margin-top: -10px;
    font-size: 1.8rem;
    opacity: .2;
    -webkit-transition: .15s opacity;
    -o-transition: .15s opacity;
    transition: .15s opacity;
}

.nk-news-dropdown .nk-news-remove-item, .nk-news-dropdown .nk-news-remove-item:hover {
    color: #fff;
}

.nk-news-dropdown .nk-news-remove-item:hover {
    opacity: 1;
}

/* Dropdown notifications */
.nk-notifications-toggle {
    cursor: pointer;
}

.nk-notifications-dropdown {
    position: absolute;
    top: 100%;
    right: 20px;
    width: 315px;
    max-height: 500px;
    overflow: auto;
    margin-top: 11px;
    text-align: left;
    visibility: hidden;
    background-color: #232930;
    border: 1px solid #293139;
    border-bottom: 4px solid #dd163b;
    opacity: 0;
    -webkit-transition: .3s opacity, .3s visibility;
    -o-transition: .3s opacity, .3s visibility;
    transition: .3s opacity, .3s visibility;
    z-index: 1010;
}

@media only screen and (max-width: 600px) {
    .nk-notifications-dropdown {
        right: 20px;
    }
}

.nk-notifications-toggle:hover + .nk-notifications-dropdown, .nk-notifications-dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.nk-notifications-dropdown::before {
    content: "";
    position: absolute;
    display: block;
    top: -18px;
    right: 0;
    left: 0;
    height: 18px;
}

.nk-notifications-dropdown .nk-post-title {
    font-size: 1rem;
}

.nk-notifications-dropdown .nk-notifications-remove-item {
    float: right;
    padding: 5px;
    margin-top: -10px;
    font-size: 1.8rem;
    opacity: .2;
    -webkit-transition: .15s opacity;
    -o-transition: .15s opacity;
    transition: .15s opacity;
}

.nk-notifications-dropdown .nk-notifications-remove-item, .nk-notifications-dropdown .nk-notifications-remove-item:hover {
    color: #fff;
}

.nk-notifications-dropdown .nk-notifications-remove-item:hover {
    opacity: 1;
}
.nk-notifications-box {
    height: 0px !important; 
    padding-top:10px; 
    text-align: right;
    font-style: italic;
}
