/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.txt_message {
    display:none;
}
.br-register-completed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    text-align: center;
    opacity: 0;
  }

.br-anim-register-completed {
    opacity: 1;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.br-anim-register-form-completed {
    opacity: 0;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

a.ng-binding{
    font-size: 18px;
    padding: 8px;
}

.pagination-first.ng-scope.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .2;
    
}
.pagination-last.ng-scope.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .2;
}

.pagination-page.ng-scope.active{
    background: transparent !important;
    min-width: 42px !important;
    height: 42px !important;
    padding: 3px;
    line-height: 28px !important;
    color: #dd163b !important;
    border: 4px solid !important;
    border-radius: 21px !important;
}
/*
#br-product-items table > tbody.filtered > tr {
    display: none;
}

#br-product-items table > tbody.filtered > tr.filtered {
    display: table-row;
}
*/
.filtered   {
    display: none;
}
#br-inventory-images {
    margin-top: 25px;
    background-color: #fff;
    min-height: 200px;
    padding: 10px;
  }

#br-id-images-dropzone {
    width: 100%;
    min-height: 200px;
    transition: all 500ms;
}

#br-id-images-dropzone .dropzone-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
    display: inline-block;
    font-size: 30px;
    color: #5a5a5a;
    text-align: center;
}

#br-id-images-dropzone.hover {
    background: #696969;
    transition: all 500ms;
}

#br-id-images-dropzone.hover span.dropzone-message {
    color: #fff;
}

.file-uploader-preview {
    display: inline-block;
    width: calc(25% - 5px);
    float: left;
    padding: 10px;
    position: relative;
  }
  
  .file-uploader-preview img {
      width: 100%;
  }
  
  .file-uploader-remove {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    background: rgba(64, 64, 64, 0.36);
    padding: 0 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .br-dropzone-w-files .dropzone-message {
    display: none !important;
  }
  
  .has-error .select2-container--default .select2-selection--single{
    border-color: #a94442;
  }
  
  .select2-container *:focus {
      outline: none;
  }
/*


.pagination-page.ng-scope.active {
    min-width: 42px;
    height: 42px;
    padding: 3px;
    line-height: 28px;
    color: #dd163b !important;
    border: 4px solid;
    border-radius: 21px;
}

.pagination-next.ng-scope a{
    visibility: hidden;
}

.pagination-next.ng-scope a:before {
    content: '>'; 
    visibility: visible;
}
*/